# Auto detect text files and perform LF normalization
* text=auto

# We don't want these files in our "plugin.zip", so tell GitHub to ignore them when the user click on Download ZIP
/.gitattributes export-ignore
/.gitignore     export-ignore
/README.md      export-ignore
/package.json   export-ignore
/Gruntfile.js   export-ignore